Hello <strong>{{ recipient }}</strong>,
<br />
<p>
    You have been invited by : <strong>{{ invited_by }}</strong> to be a part of his/her team.
</p>
<br />
<p>
    All you need to do is to confirm the invitation by following instructions. We wish you have a pleasant experience with us.
</p>
<p>
    Your verification code is <strong>{{ code }}</strong> in case you want to verify manually.
    <div><strong>Note:</strong> Above verification code is for API hosted at - <a href="{{ api_url }}">{{ api_url }}</a> </div>
</p>
<p>
    Or
</p>
<p>
    <div>You can click below to verify quickly:</div>
    <a href="{{ verification_link }}">{{ verification_link }}</a>
    <div><strong>Note:</strong> Above URL for web app and not for API</div>
</p>
<p>
    Do you know that you could do following cool things using your account ?
    <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ul>
</p>
<p>
    Facing issues ? Please explore our community forums <a href="www.google.com">here</a>

    Still struggling ? Please feel free to reach out to our support in case you
</p>

<p>
    Thanks,
    <br />
    BuildYourTeam
</p>